@import "mixins";
// Roboto:300,300i,400,500,700
body {
            font-family: 'Roboto', sans-serif;
            line-height: 1.4em;
}

#map {
    height: 500px;
    width: 500px;
}

nav {
            height: 80px;
            background-color: black;
            .logo {
                        height: 80px;
            }
}

.mainNav {
            ul {
                        margin-top: 30px;
                        li {
                                    float: right;
                                    letter-spacing: -1px;
                                    font-size: 18px;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                    display: inline;
                                    color: #b5b5b5;
                                    &:hover {
                                                color: #ED1B24;
                                                text-decoration: none;
                                    }
                                    a {
                                                padding: 30px 15px;
                                                color: #b5b5b5;
                                                &:hover {
                                                            color: #ED1B24;
                                                            background-color: #F0F0F2;
                                                            text-decoration: none;
                                                }
                                    }
                        }
            }
}

// HOME RANDOMS
.comicCharacter {
            margin: 30px;
            display: inline-block;
            margin: 0 auto;
            max-height: 235px;
}

.title {
            margin: 30px;
            padding: 60px;
            font-size: 18px;
            text-align: left;
            color: #b5b5b5;
            display: inline-block;
            font-weight: 700;
            letter-spacing: 0;
            line-height: 33px;
            text-transform: uppercase;
}

// CHARACTERS
.comics {
            margin: 30px;
            padding: 60px;
            display: inline-block;
            margin: 0 auto;
            height: 265px;
}

.comics img {
            max-width: 120px;
}

.comics h3 {
            font-size: 12px;
}

.learnButton {
            font-size: 12px;
            margin-bottom: 7px;
            margin-left: 13px;
}

// CONTACT 
#contact .contact {
            color: #b5b5b5;
            display: inline-block;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 0px;
            line-height: 33px;
            text-transform: uppercase;
}

// #kristie {
//             @include footer();
//             color: grey;
// }
